@define-mixin has-icon $icon, $position: after, $color: var(--icon-color), $location: theme {
	align-items: center;
	display: flex;
	gap: var(--button-gap, 10px);

	&::$(position) {

		@mixin maskicon $icon $location;
		background-color: $color;
		content: "";
		display: block;
		flex-shrink: 0;
		height: var(--button-icon-size-md, 24px);
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		width: var(--button-icon-size-md, 24px);
	}
}

@define-mixin animated-text-icon $icon, $location: theme {
	line-height: 20px;
	padding-right: 24px;
	position: relative;

	@media (--bp-desktop-lg) {
		line-height: 28px;
		padding-right: 32px;
	}

	&::before {

		@mixin maskicon $icon $location;
		background-color: var(--icon-color, #000);
		content: "";
		height: 20px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all var(--animation-default);
		width: 20px;

		@media (--bp-desktop-lg) {
			height: 28px;
			line-height: 28px;
			width: 28px;
		}
	}

	/* offset animated underline for icon */
	&::after {
		right: 24px !important;

		@media (--bp-desktop-lg) {
			right: 32px !important;
		}
	}

	&:hover {

		@mixin animated-text-icon-hover;
	}
}

@define-mixin animated-text-icon-hover {

	&::before {
		background-color: var(--icon-color-hover, #888);
	}
}

@define-mixin animated-text-icon-before {
	padding-left: 24px;
	padding-right: 0 !important;

	@media (--bp-desktop-lg) {
		padding-left: 32px;
	}

	&::before {
		left: 0;
		right: 0 !important;
	}

	/* offset animated underline for icon */
	&::after {
		left: 24px !important;
		right: 0 !important;

		@media (--bp-desktop-lg) {
			left: 32px !important;
		}
	}
}